ACCESS_TOKEN_EXPIRE_MINUTES=
ALLOWED_ORIGINS=
APP_ENV=
APP_NAME=
AT_API_KEY=
AT_SENDER_ID=
AT_USERNAME=
DATABASE_URL=
DATABASE_URL_SYNC=
DEBUG=
EMAIL_FROM=
FLW_PUBLIC_KEY=
FLW_SECRET_KEY=
FLW_WEBHOOK_SECRET=
GOOGLE_CLIENT_ID=
GROQ_API_KEY=
JWT_ALGORITHM=
JWT_SECRET=
MPESA_CALLBACK_URL=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_ENV=
MPESA_PASSKEY=
MPESA_SHORTCODE=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
R2_ACCESS_KEY_ID=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
R2_SECRET_ACCESS_KEY=
REDIS_URL=
REFRESH_TOKEN_EXPIRE_DAYS=
RESEND_API_KEY=
SECRET_KEY=